<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ASUTPscan.Properties.Settings.ASUTPConnectionString"
            connectionString="Data Source=10.239.1.48;Initial Catalog=ASUTP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ASUTPscan.Properties.Settings._096_RMF_POD_TESTConnectionString"
            connectionString="Data Source=10.239.1.48;Initial Catalog=_096_RMF_POD_TEST;Persist Security Info=True;User ID=test_log;Password=1q2w"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>